export default {
    HMAC_KEY: 'xxxxxxxxxxxxxxxxxxxxxxxxx',
    jwt: {
      key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    },
    mongoDB: {
      url: "mongodb://xxxxxxxxxxxxxx/xxxxxxxxxxxxx?authSource=admin",
      username: "xxxxxxxxxxxxxxxxxx",
      password: "xxxxxxxxxxxxxxxxxxxx",
    },
    mail: {
      host: 'smtp.gmail.com',
      port: 587,
      secure: false,
      auth: {
        user: 'xxxxxxxxxxxxxxxxxxxxxxx',
        pass: 'xxxxxxxxxxxxxxxxxxxxxxx'
      }
    }
  }
